<header class="sheet-header">
    <img class="profile" src="{{item.img}}" data-tooltip="{{item.img.name}}" data-edit="img" />
    <div class="title">
        <h1 class="document-name">
            <input class="value" type="text" name="name" value="{{item.name}}">
        </h1>
    </div>
</header>